@media screen and (max-width: 550px) {
*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.con-project
{
   /* border:2px solid red; */
   width:100vw;
   height:110vh;

}
.project
{
  /* border:2px solid blue; */
  height:100%;
  display: flex;
  flex-direction: column;
  gap:18px;
}
.info
{
  /* border:2px solid green; */
  width:100%;
  height: 45%;
  padding: 30px;
  display:flex;
  flex-direction: column;
  gap:8px;
  justify-content: center;
  /* transform: scale(0.7); */
}
.details
{
  border-top:1.5px solid red;
  border-bottom:1.5px solid red;
  padding: 13px;
  padding-left: 0px;
  font-weight: 600;
}
.pics
{
  /* border:2px solid red; */
  width:100%;
  height: 43%;
  overflow: hidden;
  position: relative;
  /* transform: scale(0.8); */
}
.lang-item
{
  display: inline-block;;
  font-size: 0.8rem;
  border:1.5px solid red;
  border-radius: 3px;
  padding: 6px;
  font-weight: 500;
  margin:2px;
}
.lang-item:hover
{
  transform: scale(1.1);
}
.links
{
  border-top:1.5px solid red;
  padding: 4px;
  padding-left: 0px;

}
.link-butt
{
  display: inline-block;;
  font-size: 0.8rem;
  border:1.5px solid red;
  border-radius: 3px;
  padding: 6px;
  font-weight: 500;
}
.link-butt:hover
{
  transform: scale(1.1);
}
.project-pic
{
  /* border:2px solid green; */
  width:200px;
  height: 200px;
  margin:auto;
 position: absolute;

}
.main-pic
{
  /* border:2px solid purple; */
  /* background-color: green; */

  top:50%;
  right:50%;
  transform:translate(50%,-50%);
  border-radius: 20px;
  overflow: hidden;
  z-index: 3
}
.main-pic img ,.second-pic img ,.third-pic img
{
  width:100%;
  height: 100%;
  object-fit: cover;

}
.second-pic
{
  /* border:2px solid purple; */
 /* background-color: purple; */
  top:50%;
  right:28%;
  transform:translate(50%,-50%);
  z-index: 2;
  border-radius: 20px;
  overflow: hidden;
}
.third-pic
{
  /* border:2px solid purple; */
  /* background-color: yellow; */

  top:50%;
  right:73%;
  transform:translate(50%,-50%);
  z-index: 1;
  border-radius: 20px;
  overflow: hidden;
}
.project-title
{
  font-size: 1rem;
}
.second-color
{
  height:80%;
  width:60%;
  position: absolute;
  -webkit-border-top-left-radius: 40px;
-webkit-border-bottom-left-radius: 40px;
-moz-border-radius-topleft:40px;
-moz-border-radius-bottomleft: 40px;
border-top-left-radius: 40px;
border-bottom-left-radius: 40px;
  /* border: 2px solid green; */

}
/* -----------------------PROJECTS----------------------------- */

/* --------------------------------------whatsapp---- */
.pro-whatsapp .second-color
{
  right:0;
  top:50%;
  transform: translateY(-50%);
  background-color: #4caf50;
  /* border-radius: 40px; */
  /* border: 3px solid white; */
}
.con-project.pro-whatsapp
{
  background-color: #a8f09b;

}
.pro-whatsapp .details
{
  border-top:1.5px solid #4caf50;
  border-bottom:1.5px solid #4caf50;
  color:#144818;
}
.pro-whatsapp .project-title
{
  color: #144818;
}
.pro-whatsapp .lang-item
{
  color: #144818;
  border-color: #144818;
    background-color:#afecb2;
}
.pro-whatsapp .link-butt
{
  color:#d2f9d5;
  border-color:#d2f9d5;
  background-color: #66bb6a;
}
.pro-whatsapp .links
{

  border-color: #4caf50;
}
.pro-whatsapp .main-pic
{

  background-color: white;
  border-color: none;
}
/* --------------------------------------final---- */
.pro-final .second-color
{
  right:0;
  top:50%;
  transform: translateY(-50%);
  background-color: #ffb74d;
  /* border-radius: 40px; */
  /* border: 3px solid white; */
}
.con-project.pro-final
{
  background-color: #ffdb66;

}
.pro-final .details
{
  border-top:1.5px solid #ffb74d;
  border-bottom:1.5px solid #ffb74d;
  color:#a55f45;
}
.pro-final .project-title
{
  color: #773117;
}
.pro-final .lang-item
{
  color: #e4825d;
  border-color: #e4825d;
    background-color:#ffb74d;
}
.pro-final .link-butt
{
  color:#fff3e0;
  border-color:#fff3e0;
  background-color: #a55f45;
}
.pro-final .links
{

  border-color: #ffb74d;
}
.pro-final .main-pic
{

  background-color: white;
  border-color: none;
}
/* --------------------------------------discord---- */
.pro-discord .second-color
{
  right:0;
  top:50%;
  transform: translateY(-50%);
  background-color:#9a47b0;
  /* border-radius: 40px; */
  /* border: 3px solid white; */
}
.con-project.pro-discord
{
  background-color: #ce93d8;

}
.pro-discord .details
{
  border-top:1.5px solid #e6aaee;
  border-bottom:1.5px solid #e6aaee;
  color:#4a148c;
}
.pro-discord .project-title
{
  color: #4a148c;
}
.pro-discord .lang-item
{
  color: #9811af;
  border-color: #9811af;
  background-color: #eca5f6;
}
.pro-discord .link-butt
{
  color:#fff3e0;
  border-color:#fff3e0;
  background-color: #6a1b9a;
}
.pro-discord .links
{

  border-color:#e6aaee;
}
.pro-discord .main-pic
{

  background-color: white;
  border-color: none;
}
/* ----------------------------------shlish----------- */
.pro-shlish .second-color
{
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #64b5f6;
  /* border-radius: 40px; */
  /* border: 3px solid white; */
}
.con-project.pro-shlish
{
    background-color: #eeeeee;

}
.pro-shlish .details
{
  border-top: 1.5px solid #81d4fa;
  border-bottom: 1.5px solid #81d4fa;
  color: #039be5;
}
.pro-shlish .project-title
{
      color: #1976d2;
}
.pro-shlish .lang-item
{
  color: #1565c0;
  border-color: #1565c0;
  background-color: #b3e5fc;
}
.pro-shlish .link-butt
{
  color: #fff3e0;
  border-color: #fff3e0;
  background-color: #1565c0;
}
.pro-shlish .links
{

      border-color: #81d4fa;
}
.pro-shlish .main-pic ,.second-pic ,.third-pic ,.main-pic
{

  background-color: white;
  border-color: none;
  width:200px;
  height: 239px;
  -webkit-box-shadow: 0px 0px 38px 5px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 38px 5px rgba(0,0,0,0.55);
}
/* ----------------------------------IKEA----------- */
.pro-ikea .second-color
{
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #c29c77;
  /* border-radius: 40px; */
  /* border: 3px solid white; */
}
.con-project.pro-ikea
{
    background-color: #fef8bf;

}
.pro-ikea .details
{
  border-top: 1.5px solid #bcaaa4;
  border-bottom: 1.5px solid #bcaaa4;
  color: #8d6e63;
}
.pro-ikea .project-title
{
      color: #825d02;
}
.pro-ikea .lang-item
{
  color: #6d4c41;
  border-color: #6d4c41;
  background-color: #efebe9;
}
.pro-ikea .link-butt
{
  color: #fff3e0;
  border-color: #fff3e0;
  background-color: #795548;
}
.pro-ikea .links
{

      border-color: #bcaaa4;
}
.pro-ikea .main-pic
{

  background-color: white;
  border-color: none;
}
/* ----------------------------------INSTAGRAM----------- */
.pro-instagram .second-color
{
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff176;
  /* border-radius: 40px; */
  /* border: 3px solid white; */
}
.con-project.pro-instagram
{
    background-color: #ef5350;

}
.pro-instagram .details
{
  border-top: 1.5px solid #ffab91;
  border-bottom: 1.5px solid #ffab91;
  color: #fff59d;
}
.pro-instagram .project-title
{
      color: #ffee58;
}
.pro-instagram .lang-item
{
  color: #fbc02d;
  border-color: #fbc02d;
  background-color: #fff176;
}
.pro-instagram .link-butt
{
  color: #fbc02d;
  border-color: #fbc02d;
  background-color: #c62828;
}
.pro-instagram .links
{

      border-color: #ffab91;
}
.pro-instagram .main-pic
{

  background-color: white;
  border-color: none;
}
/* ----------------------------------DIROT----------- */
.pro-dirot .second-color
{
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e0e0e0;
  /* border-radius: 40px; */
  /* border: 3px solid white; */
}
.con-project.pro-dirot
{
  background-color: #90a4ae;
}


.pro-dirot .details
{
  border-top: 1.5px solid #bdbdbd;
  border-bottom: 1.5px solid #bdbdbd;
  color: #eeeeee;
}
.pro-dirot .project-title
{
        color: #f5f5f5;
}
.pro-dirot .lang-item
{
  color: #424242;
  border-color: #424242;
  background-color: #fafafa;
}
.pro-dirot .link-butt
{
  color: #f5f5f5;
  border-color: #f5f5f5;
  background-color: #424242;
}
.pro-dirot .links
{

        border-color: #bdbdbd;
}
.pro-dirot .main-pic
{

  border-color: none;
  width: 134px;
   height: 304px;
}
/* ---------------github------------------- */
.pro-github
{
  width:100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  overflow:hidden;
  gap:2px;

}
.github-logo
{
  /* border:2px solid red; */

  width: 60vw;
  height: 10vh;
  overflow:hidden;
  margin:auto;
  margin-bottom: 2px;

}
.github-logo img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pro-github h1
{
  /* border:2px solid red; */
  color:white;
  font-size: 2rem;
  margin:auto;
  text-align: center;
    margin-top: 5px;
}
/* -------------------shapes-------------------- */
.sn1
{
  top: 8vw;
  right: 64vw;
}
.sn2
{
  top: 30vw;
  right: 17vw;
}
.sn3
{
  top: 68vh;
  right: 83vw;
}
.sn4
{
  top: 88px;
right: 36vw;
  /* display:none; */

}
.sn5
{
  top: 27vw;
    right: 58vw;
    display:none;

}
.sn6
{
  top: 101px;
  right: 322px;
  background-color:green;
  display:none;


}
.sn7
{
  top: 136vw;
  right: 4vw;
  /* display: none; */
  /* display: none; */

}
.sn8
{
  top: 12vw;
  right: 12vw;
  display:none;

}
.sn9
{
  top: 54vw;
right: 74vw;
/* display: none; */
  /* display:none; */

}
.sn10
{
  top: 191vw;
  right: 15vw;
  background-color: green;
  /* display: none; */

}
.sn11
{
  top: -7vw;
right: 13vw;

  /* display:none; */

}
.sn12
{
  top: 22vw;
  right: 66vw;
  display:none;

}
.sn13
{
  top: -7vw;
right: 82vw;
/* display: none; */

}
.sn14
{
  top: 175vw;
  right: 60vw;
  /* display: none; */

}
.sn15
{
  top: 153vw;
right: 41vw;
background-color: green;

  background-color:green;
  /* display:none; */

}
.sn16
{
  top: -3vw;
  right: 48vw;
  /* display:none; */
}
}
